# General
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# Java/Spring/Gradle (lms-api)
/lms-api/build/
/lms-api/.gradle/
/lms-api/out/
/lms-api/target/
!/lms-api/src/main/resources/

# Node.js/Yarn/Angular (lms-client)
/lms-client/node_modules/
/lms-client/dist/
/lms-client/.angular/
/lms-client/.yarn/
/lms-client/.yarnrc/
/lms-client/.env
/lms-client/package-lock.json
#/lms-client/yarn.lock

# Ignore IDE settings across projects
**/.idea/
**/*.iml
**/.project
**/.classpath
**/.factorypath
**/.settings/
**/*.launch

# Visual Studio Code settings
**/.vscode/
**/.history/*

# OS-specific
.DS_Store
Thumbs.db
